.afterJudgment {
	visibility: hidden;
}

.judgment {
	visibility: hidden;
}

.question {
	border: solid 1px black;
	margin: 2em;
	padding: 10px;
}

.code {
	background-color: #eee;
	border-radius: 3px;
	font-size: small;
	padding: 0.5em;
}
